<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="azureextensionsdev" value="https://www.myget.org/F/dotnetcoreazureextensions/api/v3/index.json" />
 </packageSources>
</configuration>
